html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	background-color: #f6f6f6;
	font-family: sans-serif;
	min-width: 230px;
}
#wrapper {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	background-color: #fff;
	overflow: hidden;
}
header {
	background-color: #e1f4ff;
	height: 50px;
	line-height: 50px;
	user-select: none;
}
#logo {
	float: left;
}
#logo a {
	color: #0273ed;
	display: block;
	padding-left: 30px;
	font-size: 1.5rem;
}
#nav-right {
	font-size: 1.3rem;
	float: right;
}
#nav-right a,
#nav-right span {
	display: block;
	padding: 0 15px;
	float: left;
}
#nav-right a {
	color: #0273ed;
}
#nav-right a:hover {
	background-color: #e4f9ff;
}
#nav-right a.active {
	background-color: #f3fbff;
}
#content {
	padding: 12px 24px 30px;
	font-size: 1.15rem;
}
#content a {
	color: blue;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	clear: both;
	height: 30px;
	line-height: 30px;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	user-select: none;
}
footer .copyright {
	color: #aaa;
}
